Host ubuntu
HostName ssh-ubuntu.razumovsky.me
User razumovsky_r
IdentityFile ~/.ssh/id_rsa
StrictHostKeyChecking no

Host windows
HostName ssh-windows.razumovsky.me
User razumovsky_r
IdentityFile ~/.ssh/id_rsa
StrictHostKeyChecking no