Host ubuntu
HostName sshubuntu.devtest.team
User razumovsky_r
IdentityFile ~/.ssh/id_rsa
StrictHostKeyChecking no

Host windows
HostName sshwindows.devtest.team
User razumovsky_r
IdentityFile ~/.ssh/id_rsa_windows
StrictHostKeyChecking no